body { background: #ef5531; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 35px; display: flex; }
.block-token-0 { color: #2f1221; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #50f168; font-size: 20px; margin-bottom: 5px; }
.block-database-2 { color: #7526d9; font-size: 21px; margin-bottom: 5px; }
.block-auth-3 { color: #23c48b; font-size: 14px; margin-bottom: 5px; }
.block-config-4 { color: #a87885; font-size: 18px; margin-bottom: 5px; }